<h1>Activities</h1>

<table class="table">
    <th>
        <td>Usuário</td>
        <td>Ação</td>
        <td>Data</td>
    </th>
    <% @activities.each do |activity| %>
        <tr>
            <td></td>
            <%= render_activity activity %>
        </tr>
    <% end %>
</table>