<h1>Activities</h1>

<% @activities.each do |activity| %>
    <div class="well well-sm">
        <%= activity.owner.email if activity.owner %>
        <%= render_activity activity %>
    </div>
<% end %>