<td><%= activity.owner ? activity.owner.email : "Admin" %></td>
<td>Criou assento 
<% if activity.trackable %>
    <%= activity.trackable.row %><%= activity.trackable.number %>
<% else %>
    que jรก foi removido
<% end %>
</td>
<td><%= activity.created_at %></td>