<td><%= activity.owner ? activity.owner.email : "Admin" %></td>
<td>Criou aeroporto 
<% if activity.trackable %>
    <%= activity.trackable.code %>
<% else %>
    que jรก foi removido
<% end %>
</td>
<td><%= activity.created_at %></td>