<td><%= activity.owner ? activity.owner.email : "Admin" %></td>
<td>Editou uma passagem
<% if activity.trackable %>
    para <% activity.trackable.flight.destination.code %> de <% activity.trackable.flight.origin.code %>
<% else %>
    que jรก foi removido
<% end %>
</td>
<td><%= activity.created_at %></td>